@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-pink {
    color: #FF42A5;
}

.text-purple {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-primary {
    font-size: 48px;
    font-weight: 700;
}

.btn-pink {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn-blue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* nav section  */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.follow-us-menu {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 30px;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;

}

.banner-desc {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    margin-top: 17px;
}

.banner-btn-container {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

/* funny videos */
.funny-videos {
    /* align-items: center; */
    text-align: center;
}

.funny-videos .title-primary {
    margin-bottom: 15px;
}

.funny-desc {
    color: #534C64;
}

.funny-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin: 48px 240px;
}

.funny-cards-container p {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    margin-top: 24px;
    max-width: 340px;
}
.card{
    position: relative;
}
.watch-now{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.511);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    opacity: 0;
    /* background-color: saddlebrown; */
}
.watch-now p{
    color: #F948B2;
    text-align: center;
}
.watch-now i{
    font-size: 100px;
}
.card:hover .watch-now{
    opacity: 1;
}

/* picture section */
.picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 240px;
}
.picture-title{
    text-align: right;
}
.desc{
    max-width: 353px;
    color: #534C64;
    text-align: right;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
}
.picture-img-container{
    /* position: absolute; */
    margin-top: 100px;
}
.up-img{
    width: 318.5px;
height: 365.083px;
position:absolute;
right: 900px;
top: 2300px;
}